<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Köşe Yazıları</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <style>
        .bg{
            background-image: url(bg.jpg);
            height: 300px;
            position: relative;
        }
        .bg h1{
            z-index: 1;
            font-size: 60px;
        }
        .overlay{
            width: 100%!important;
            height: 100%!important;
            background-color: rgba(0,0,0,.4);
            position: absolute;
            top: 0px;
            left:0px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-0">
    <a class="navbar-brand" href="#">Köse Yazısı</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Yazılar <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item mr-sm-2">
                <a class="nav-link" href="#">Admin</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container d-flex justify-content-center align-items-center">
  <button class="btn btn-dark">Yeni Bir Yazı Ekle</button>
</div>
<div class="container-fluid mt-5 d-flex flex-wrap justify-content-center align-items-center">
    <div class="card mr-3 mb-3 card-success" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-outline-warning btn-sm">Düzenle</a>
            <a href="#" class="btn btn-outline-danger btn-sm">Sil</a>
        </div>
    </div>
    <div class="card mr-3 mb-3 card-success" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-outline-warning btn-sm">Düzenle</a>
            <a href="#" class="btn btn-outline-danger btn-sm">Sil</a>
        </div>
    </div>
    <div class="card mr-3 mb-3 card-success" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-outline-warning btn-sm">Düzenle</a>
            <a href="#" class="btn btn-outline-danger btn-sm">Sil</a>
        </div>
    </div>
    <div class="card mr-3 mb-3 card-success" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-outline-warning btn-sm">Düzenle</a>
            <a href="#" class="btn btn-outline-danger btn-sm">Sil</a>
        </div>
    </div>
    <div class="card mr-3 mb-3 card-success" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-outline-warning btn-sm">Düzenle</a>
            <a href="#" class="btn btn-outline-danger btn-sm">Sil</a>
        </div>
    </div>
    <div class="card mr-3 mb-3 card-success" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-outline-warning btn-sm">Düzenle</a>
            <a href="#" class="btn btn-outline-danger btn-sm">Sil</a>
        </div>
    </div>
    <div class="card mr-3 mb-3 card-success" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-outline-warning btn-sm">Düzenle</a>
            <a href="#" class="btn btn-outline-danger btn-sm">Sil</a>
        </div>
    </div>
    <div class="card mr-3 mb-3 card-success" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-outline-warning btn-sm">Düzenle</a>
            <a href="#" class="btn btn-outline-danger btn-sm">Sil</a>
        </div>
    </div>
</div>
</body>
</html>
